*{
  margin: 0;
  padding: 0;
}
body{
  color: #fff;
  font-family: 'Lato', sans-serif;
  background:whitesmoke;
  color: black;
  
}
.ico{
  color: #fff;
  background: transparent;
  padding: 8px;
  border-radius: 6px;
  
}
header{
  display: block;
  position: fixed;
  z-index: 1000;
  background: whitesmoke;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  padding: 12px;
  padding-bottom: 20px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
header h3{
  font-size: 24px;
  letter-spacing: 1px;
}
.cart-search{
  padding: 10px 0;
  width: 330px;
  border: 1px solid grey;
  background: transparent;
  border-radius: 20px;
  margin-top: 25px;
  outline: none;
  color: #ffff;
  padding-left: 12px;
   box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
   position: relative;
}
::placeholder{
  color:black;
  font-size: 15px;
  font-weight: bold;
  padding-left: 3px;
}
.bik{
  position: absolute;
  top: 82px;
  right: 20px;
}
.fa-bell{
  font-size: 20px;
}
/* main */
.all{
  margin-top:130px;
  position: absolute;
  height:115%;
  width: 100%;
  
}
.items{
  padding: 5px;
  display:flex;
  height: 150px;
  gap:10px;
  margin-bottom: 10px;
}
.itemImg{
  width: 40%;
  padding:2px;
}
.itemImg img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.product{
  width: 40%;
  display:grid;
  gap:10px;
  height: 100%;
}
.type{
  display:grid;
  height:45px;
}
.type span{
  color:gray;
  font-size: 16px;
  font-weight: 500;
}
.type p{
  font-size: 18px;
  font-weight: 700;
}
.price{
  height:40px;
  display:grid;
  align-items: center;
}
.price p{
  text-decoration: line-through;
  color: grey;
}
.price span{
  font-size: 24px;
  font-weight :600;
}
.number{
  height: 40px;
  display:flex;
  align-items: center;
}
.number {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.number button{
  width:30px;
  height: 30px;
  border-radius: 50%;
  border:none;
  outline: none;
  background: black;
  color:white;
  font-size:20px;
}
.delete{
  width: 15%;
  display:flex;
  align-items: center;
}
.delete button{
  border:none;
  outline: none;
  font-size: 20px;
  background: transparent;
}
.delete button i{
  color:deepgray;
}
/* footer */
footer{
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  height: 12vh;
  
  bottom: 0;
  background:whitesmoke;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
footer button{
  background: black;
  width: 190px;
  padding: 20px 0;
  border: none;
  border-radius: 60px;
  font-size: 17px;
  font-weight: bold;
  margin-right: 15px;
  color :white;
}
footer h3{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}
footer span{
  opacity: 0.5;
  text-decoration: line-through;
}
.cat-1{
  margin-left: 23px;
  
}
i{
  color: black;
}
button{
  border:none;
  outline-color: none;
  background: transparent;
}