body {
    background: white;
    margin:0;
    padding: 0;
    font-family:sans-serif;
}
.container{
    display:flex;
    align-items:center;
    background: bla;
    width: 100%;
    position:relative;
    height: 100vh;
}
form{
    border:1px solid black;
    border-radius:16px;
    padding: 10px;
   width: 90%;
   margin: 10px;
}
.head{
    text-align:center;
}
form input{
    padding: 10px;
    width: 90%;
    margin-bottom:10px;
    border:1px solid black;
    border-radius: 16px;
    outline:none;
    font-weight:400;
    font-size:18px;
    background: transparent;
}
i{
    position: absolute;
    padding: 10px;
    right: 30px;
}
form span{
    font-size:16px;
    font-weight:600;
}
.choice{
    display: flex;
    justify-content:space-between;
    
}
.remember{
    display: flex;
    width: 50%;
    font-size:16px;
    font-weight:200;
    whitespace:none;
    word-wrap:nowrap;
   
    position: relative;
}
.remember span{
    font-size:16px;
    font-weight:normal;
  position: absolute;
 left: 20px;
}
.remember input{
    position: absolute;
    right: 75px;
    top:-2px;
}
.forgot span{
    font-size:16px;
    font-weight:normal;
}
.submit{
    margin: 10px;
}
.submit button{
   padding: 10px;
   border-radius: 10px;
   font-size:20px;
   font-weight:700;
    border:none;
    background: black;
    width: 100%;
    color: white;
}
.new{
    text-align:center;
}