body{
  font-family: sans-serif;
  padding:0;
  margin: 0;
  height: 100vh;
}
header{
  background: whitesmoke;
}
.success{
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  height: 200px;
}
.success img{
  width: 150px;
  height: 150px;
}
.success h4{
  position: absolute;
  bottom:-30px;
  font-size: 30px;
}
.success span{
  position: absolute;
  bottom:0;
}
main{
  padding-left: 10px;
  padding-right: 10px;
}
.review{
  height: 30px;
  display: flex;
  align-items: center;
}
.products{
  background: black;
  display: flex;
  height: 80px;
  gap: 10px;
  padding: 5px;
}
.each{
  background: white;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.each img{
  width: 100%;
  height: 100%;
  border-radius:8px;
}
.receipt{
  margin-top: 10px;
}
table{
  width: 100%;
}
table th{
  text-align: start;
}
table td{
  text-align:end;
}
.total{
  font-size: 20px;
  font-weight: 500;
}
.amount{
  font-size: 24px;
  font-weight: 700;
}
.download{
  display:grid;
  height: 100px;
  gap:10px;
  padding: 5px;
  margin-top:10px ;
}
.download button{
  border-radius: 12px;
  border :none;
  outline: none;
  background: black;
  font-size: 18px;
  font-weight: 500;
  color:white;
}


img{
  height: 30px;
  width: 30px;
}
.popup{
  position:fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top:0;
  display:grid;
  place-items: center;
  opacity: 0;
}
.pop{
  width: 85%;
  height: 40%;
  background: black;
  backdrop-filter:blur(10px) ;
  color:white;
  border-radius: 16px;
  position: absolute;
  padding: 10px;
}
.pophead{
  display:flex;
  justify-content: flex-end;
}
.pophead button{
  border:none;
  outline: none;
  font-size: 24px;
  background: transparent;
  color: white;
}
.popbody{
  padding: 5px;
  height: 80%;
  margin-top: 10px;
}
.rate{

  height: 60px;
  display:flex;
  justify-content: space-between;
  gap: 10px;
}
.rate button{
  background: transparent;
  width: 60px;
  height: 60px;
  border:none;
  outline:none;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
}
.comment{
  background: black;
  width: 100%;
  margin-top: 10px;
}
.comment textarea{
  font-family: sans-serif;
  width: 100%;
  border:none;
  outline: none;
  font-size: 16px;
  font-weight :500;
}
.submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.submit button{
  padding: 8px;
  border:none;
  width: 80px;
  outline:none;
  font-size: 16px;
  font-weight:500;
  border-radius: 10px;
}